@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: Caveat;
    src: url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);
    font-family: ArchivoBlack;
    src: url(https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap);
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
    
body{
    margin: 0px;
    height: 99%;
}

header{
    color: white;
    background: black;
    text-align: center;
    padding: 20px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: ArchivoBlack, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6vw;
    margin: 20px;
    
}

header a{
    text-decoration: none;
    color: white;
    transition-duration: 300ms;
}

header a:hover{
    color: #d4d4d4;
    transition-duration: 300ms;
}

section{
    font-size: 7vw;
    font-family: "Caveat", Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin-left: 30px;
}

section > p{
    line-height: 11vw;
}

section#flores{
    background-image: url(imagens/flores.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300vw;
    border-radius: 10px;
    margin-left: 30px;
}

#flores > p{
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    width: 70vw;
    color: white;
    padding: 10px;
}

section#livros{
    background-image: url(imagens/livros.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300vw;
    background-position: center center;
    border-radius: 10px;
    margin-left: 30px;
    
}

#livros > p{
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    width: 70vw;
    color: white;
    padding: 10px;
    margin-right: 50px;
}
footer{
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
   
}

footer > p{
    margin: 0;;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition-duration: 300ms;
}

footer a:hover{
    color: #d4d4d4 ;
    transition-duration: 300ms;
}